name: Run test

on:
  pull_request:
    branches: [ master ]

env:
  GRADLE_OPTS: "-Xmx3g -Dfile.encoding=UTF-8 -XX:+UseG1GC -XX:MaxMetaspaceSize=768m"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      cache-key: ${{ steps.gradle-cache.outputs.cache-key }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - name: Debug Java
        run: |
          echo "JAVA_HOME=$JAVA_HOME"
          java -version
          ./gradlew -version

      - name: Run Gradle to start cache
        run: ./gradlew tasks

  ktlint:
    runs-on: ubuntu-latest
    needs: setup

    steps:
      - uses: actions/checkout@v4

      - name: Ktint set up curl
        run: curl -sSLO --proto '=https' --proto-redir '=https' --tlsv1.2 https://github.com/pinterest/ktlint/releases/download/0.50.0/ktlint && chmod a+x ktlint && sudo mv ktlint /usr/local/bin/

      - run: ktlint '!**/build/**'

  build:
    runs-on: ubuntu-latest
    needs: ktlint

    steps:
      - uses: actions/checkout@v4

      - name: Set google-service.json file
        env:
          DATA: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: echo $DATA | base64 --decode > app/google-services.json

      - name: Grant execute permissions for gradlew
        run: chmod +x gradlew

      - name: Executing Clean, Check and Unit Tests.
        run: ./gradlew clean check testDebug testCoverage

      - name: Run SonarCloudAnalysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_2026 }}
          SONAR_ORGANIZATION: ${{ secrets.SONAR_ORGANIZATION }}
          SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}
          SONAR_PROJECT_NAME: ${{ secrets.SONAR_PROJECT_NAME }}
        run: ./gradlew sonar